---
import "@fontsource-variable/inter";
import NotificationPopup from "~/components/notificationpopup.astro";
import Sports from "~/components/sports.astro";
import Arts from "~/components/arts.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Reto from "~/components/reto.astro";
import Cass from "~/components/cass.astro";
import News from "~/components/news.astro";
import Colegiaturas from "~/components/colegiaturas.astro";
import Admis from "~/components/admis.astro";
import QuienesSomos from "~/components/quienessomos.astro";
import Ubicacion from "~/components/ubicacion.astro";
import Anuncio from "~/components/Anuncio.astro";
import Contacto from "~/components/Contacto.astro";
import LoMejor from "~/components/lomejor.astro";
import Valores from "~/components/Valores.astro";
import Campus from "~/components/Campus.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Lycée San José</title> 
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: light)",
        ).matches;
        document.documentElement.dataset.theme = prefers ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: light)",)
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
  <!--NotificationPopup /-->
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Sports />
      <LoMejor/>
      <Arts />
      <Admis />
      <Reto />
      <Campus/>
      <Cass />
      <!--Colegiaturas /-->
      <QuienesSomos />
      <Valores />
      <Ubicacion />
      <!--Features /-->
      <News />
      <Contacto/>
    </div>
    <Footer />
    <Anuncio 
  desktopImage="/img/Horizontal.png" 
  mobileImage="/img/Vertical.png" 
/>	
    
  </body>
</html>
