---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { ColItem } from "~/types";

const features: Array<ColItem> = [
  {
    title: "Estandar",
    anual: "Incripción anual",
    price1:"Diciembre-febrero: $25,900",
    price2:"Marzo-mayo: $33,155",
    price3:"Junio-agosto: $34,900",
    cole1:"Colegiatura 11 meses: 7,681.00",
    cole2:"Colegiatura 10 meses: 8,450.00",
    incluye: "Incluye",
    inc1:"•	Incorporación a la SEP ",
    inc2:"•	Seguro de accidentes escolares",
    inc3:"•	Cuota de sociedad de padres de familia",
    inc4:"•	Credencial escolar ",
    inc5:"•	Plataforma digital",
    inc6:"•	Uniforme ",
    inc7:"•	Paquete de libros y cuadernos",
    inc8:"•	PERFIL DE EVALUACIÓN PARA DETECIÓN DE TALENTOS",
    inc9:"•	TEST DE INTELIGENCIAS MULTIPLES HOWARD",
    desc:"Descuentos",
    desc1:"•	Pago anual 10% descuento pagando antes del 30 de septiembre 2024",
    desc2:"•	Pago semestral 5% descuento, pagando 1er. semestre antes del 30 de septiembre 2024, 2do. semestre antes de 31 de enero 2025",
    title2:"Extras:",
    extra:"Música, baile moderno, danza, ajedrez, pintura, teatro, dibujo, canto.",
    dp:"Deportes Profesionales: rugby, fútbol y atletismo.",
    idiom:"Idiomas: español, francés, inglés",
    text2:"",
    horario:"Horario de 7am a 2pm",
    icon: "mdi:weather-sunny",
  },
  {
    title: "Semi-Internado",
    anual:"Inscripción anual",
    price1:"Diciembre-febrero: $25,900",
    price2:"Marzo-mayo: $33,155",
    price3:"Junio-agosto: $34,900",
    cole1:"Colegiatura 11 meses: 16,727.00",
    cole2:"Colegiatura 10 meses: 18,500.00",
    incluye: "Incluye",
    inc1:"•	Incorporación a la SEP ",
    inc2:"•	Seguro de accidentes escolares",
    inc3:"•	Cuota de sociedad de padres de familia",
    inc4:"•	Credencial escolar ",
    inc5:"•	Plataforma digital",
    inc6:"•	Uniforme ",
    inc7:"•	Paquete de libros y cuadernos",
    inc8:"•	PERFIL DE EVALUACIÓN PARA DETECIÓN DE TALENTOS",
    inc9:"•	TEST DE INTELIGENCIAS MULTIPLES HOWARD",
    desc:"Descuentos",
    desc1:"•	Pago anual 10% descuento pagando antes del 30 de septiembre 2024",
    desc2:"•	Pago semestral 5% descuento, pagando 1er. semestre antes del 30 de septiembre 2024, 2do. semestre antes de 31 de enero 2025",
    title2:"Extras:",
    extra:"Música, baile moderno, danza, ajedrez, pintura, teatro, dibujo, canto.",
    dp:"Deportes Profesionales: rugby, fútbol, atletismo y tenis.",
    idiom:"Idiomas: español, francés, inglés",
    horario:"Horario de 7am a 6pm",
    text2:"Incluyen desayuno, comida y colaciones",
    icon: "mdi:weather-sunset-down",
  },
];
const features2: Array<ColItem> = [
  {
    title: "Estandar",
    anual: "Incripción anual",
    price1:"Diciembre-febrero: $26,900",
    price2:"Marzo-mayo: $33,155",
    price3:"Junio-agosto: $34,900",
    cole1:"Colegiatura 11 meses: 8,363.00",
    cole2:"Colegiatura 10 meses: 9,199.00",
    incluye: "Incluye",
    inc1:"•	Incorporación a la SEP ",
    inc2:"•	Seguro de accidentes escolares",
    inc3:"•	Cuota de sociedad de padres de familia",
    inc4:"•	Credencial escolar ",
    inc5:"•	Plataforma digital",
    inc6:"•	Uniforme ",
    inc7:"•	Paquete de libros y cuadernos",
    inc8:"•	PERFIL DE EVALUACIÓN PARA DETECIÓN DE TALENTOS",
    inc9:"•	TEST DE INTELIGENCIAS MULTIPLES HOWARD",
    desc:"Descuentos",
    desc1:"•	Pago anual 10% descuento pagando antes del 30 de septiembre 2024",
    desc2:"•	Pago semestral 5% descuento, pagando 1er. semestre antes del 30 de septiembre 2024, 2do. semestre antes de 31 de enero 2025",
    title2:"Extras:",
    extra:"Música, baile moderno, danza, ajedrez, pintura, teatro, dibujo, canto.",
    dp:"Deportes Profesionales: rugby, fútbol y atletismo.",
    idiom:"Idiomas: español, francés, inglés y chino",
    text2:"",
    horario:"Horario de 7am a 2pm",
    icon: "mdi:weather-sunny",
  },
  {
    title: "Semi-Internado",
    anual:"Inscripción anual",
    price1:"Diciembre-febrero: $26,900",
    price2:"Marzo-mayo: $33,155",
    price3:"Junio-agosto: $34,900",
    cole1:"Colegiatura 11 meses: 17,727.00",
    cole2:"Colegiatura 10 meses: 19,500.00",
    incluye: "Incluye",
    inc1:"•	Incorporación a la SEP ",
    inc2:"•	Seguro de accidentes escolares",
    inc3:"•	Cuota de sociedad de padres de familia",
    inc4:"•	Credencial escolar ",
    inc5:"•	Plataforma digital",
    inc6:"•	Uniforme ",
    inc7:"•	Paquete de libros y cuadernos",
    inc8:"•	PERFIL DE EVALUACIÓN PARA DETECIÓN DE TALENTOS",
    inc9:"•	TEST DE INTELIGENCIAS MULTIPLES HOWARD",
    desc:"Descuentos",
    desc1:"•	Pago anual 10% descuento pagando antes del 30 de septiembre 2024",
    desc2:"•	Pago semestral 5% descuento, pagando 1er. semestre antes del 30 de septiembre 2024, 2do. semestre antes de 31 de enero 2025",
    title2:"Extras:",
    extra:"Música, baile moderno, danza, ajedrez, pintura, teatro, dibujo, canto.",
    dp:"Deportes Profesionales: rugby, fútbol, atletismo y tenis.",
    idiom:"Idiomas: español, francés, inglés y chino",
    horario:"Horario de 7am a 6pm",
    text2:"Incluyen desayuno, comida y colaciones",
    icon: "mdi:weather-sunset-down",
  },
];
---

<ContentSection title="Colegiaturas" id="colegiaturas">
  <Fragment slot="lead">
    Primaria
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      features.map(({ title, price2, price3, cole2,extra,title2,dp,idiom,horario,anual,incluye,inc1,inc2,inc3,inc4,inc5,inc6,inc7,inc8,inc9,desc,desc1,desc2,text2, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center font-bold">{anual}</p>
          <p class="text-center text-ellipsis">{price2}</p>
          <p class="text-center text-ellipsis">{price3}</p>
          <p class="text-center font-bold">{incluye}</p>
          <p class="text-center text-offset text-sm">{inc1}</p>
          <p class="text-center text-offset text-sm">{inc2}</p>
          <p class="text-center text-offset text-sm">{inc3}</p>
          <p class="text-center text-offset text-sm">{inc4}</p>
          <p class="text-center text-offset text-sm">{inc5}</p>
          <p class="text-center text-offset text-sm">{inc6}</p>
          <p class="text-center text-offset text-sm">{inc7}</p>
          <p class="text-center text-offset text-sm">{inc8}</p>
          <p class="text-center text-offset text-sm">{inc9}</p>
          <p class="text-center text-ellipsis">{cole2}</p>
          <p class="text-center font-bold">{desc}</p>
          <p class="text-center text-offset text-sm">{desc1}</p>
          <p class="text-center text-offset text-sm">{desc2}</p>
          <p class="text-center font-extrabold text-xl">{title2}</p>
          <p class="text-center text-offset text-sm">{extra}</p>
          <p class="text-center text-offset text-sm">{dp}</p>
          <p class="text-center text-offset text-sm">{idiom}</p>
          <p class="text-center font-extrabold text-xl">{horario}</p>
          <p class="text-center text-offset text-sm">{text2}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
<ContentSection title="" id="">
  <Fragment slot="lead">
    Secundaria
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      features2.map(({ title, price1, price2, price3,cole2,extra,title2,dp,idiom,horario,anual,incluye,inc1,inc2,inc3,inc4,inc5,inc6,inc7,inc8,inc9,desc,desc1,desc2,text2, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center font-bold">{anual}</p>
          <p class="text-center text-ellipsis">{price1}</p>
          <p class="text-center text-ellipsis">{price2}</p>
          <p class="text-center text-ellipsis">{price3}</p>
          <p class="text-center font-bold">{incluye}</p>
          <p class="text-center text-offset text-sm">{inc1}</p>
          <p class="text-center text-offset text-sm">{inc2}</p>
          <p class="text-center text-offset text-sm">{inc3}</p>
          <p class="text-center text-offset text-sm">{inc4}</p>
          <p class="text-center text-offset text-sm">{inc5}</p>
          <p class="text-center text-offset text-sm">{inc6}</p>
          <p class="text-center text-offset text-sm">{inc7}</p>
          <p class="text-center text-offset text-sm">{inc8}</p>
          <p class="text-center text-offset text-sm">{inc9}</p>
          <p class="text-center text-ellipsis">{cole2}</p>
          <p class="text-center font-bold">{desc}</p>
          <p class="text-center text-offset text-sm">{desc1}</p>
          <p class="text-center text-offset text-sm">{desc2}</p>
          <p class="text-center font-extrabold text-xl">{title2}</p>
          <p class="text-center text-offset text-sm">{extra}</p>
          <p class="text-center text-offset text-sm">{dp}</p>
          <p class="text-center text-offset text-sm">{idiom}</p>
          <p class="text-center font-extrabold text-xl">{horario}</p>
          <p class="text-center text-offset text-sm">{text2}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

